
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('https://www.awaretour.com/public/assets/images/blog/%D0%BF%D0%BE%D0%B4%D0%B0%D1%80%D0%BE%D0%BA-%D0%B8%D0%B7-%D1%82%D1%83%D1%80%D1%86%D0%B8%D0%B8.jpg');
  background-size: cover;
  background-Repeat: no-repeat;
  background-Position:center;
  background-attachment: fixed;
  overflow-x: hidden;
}
.formArkaPlan {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 10px;
  max-width: 700px;
  margin: auto;
}
.navArkaPlan{
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 10px;
  width: 100%;
  z-index: 1000;
}